*{
    margin: 0%;
    padding: 0%;
}
.all{
    width: 800px;
    height: 100%;
    border: 1px solid black;
    margin: 0 auto;
}
.header{
    width: 800px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    
}
.header1{
    width: 198px;
    height: 50px;
    border: 1px solid white;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}
.header2{
    width: 300px;
    height: 50px;
    border: 1px solid white;
    display: inline-block;
    position: relative;
    left: 300px;
    font-size: 30px;
}
.footer{
    width: 800px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    top: 0px;
    position: relative;
    font-size: 30px;
}
.footer1{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    display: inline-block;
    border-radius:50px;
    font-size: 30px;
}
.footer2{
    width: 300px;
    height: 50px;
    border: 1px solid white;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    left: 500px;
}
.circle{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-radius:50px;
}
.bodyer{
    width: 800px;
    height: 695px;
    border:  1px solid black;
    font-size: 50px;
    font-weight: bold;
}
.bodyer1{
    width: 800px;
    height: 230px;
    border:  1px solid black;
}
.bodyer2{
    width: 800px;
    height: 230px;
    border:  1px solid black;
}
.bodyer3{
    width: 800px;
    height: 230px;
    border:  1px solid black;
}