.main{
    font-size: xx-large;
    width: 2000px;
    height:1000px;
    background-image: url(/react/react-mango/src/Login/bgi/5.jpg);
    background-repeat: no-repeat;	
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.t{
    font-size: 100px;
    margin: 0 auto;
    background-color: greenyellow;
    width: 500px;
    height: 400px;
    text-align: center;
    position: relative;
    top: -75%;
}
.f{
    margin: 0 auto;
    position:relative;
    height:20px;
    width: 20px;
    position:absolute;
    top:50%; 
    margin-top:10px;
    right: 25%;
}
.photo{
    width: 1850px;
    height: 1000px;
    position: relative;
    left: -1000;
}