*{
    margin: 0px;
    padding: 0px;
}
.All{
    width: 100%;
    height: 875px;
    background-image: url(".\06a934d3472856257d08b0981c5666af.jpg");
    text-align: center;
    
}
.header{
    font-size: 50px;
}
.Body{
    font-size: 20px;
    margin: 30px;
}
