/* .main {	
    height: 719px;
    width: 100px;
    background-image: url(/react/react-mango/src/Login/bgi/3.jpg);
    background-repeat: no-repeat;	
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
} */

.k1{	
    height: 100px;
    width: 500px;
    background-color: #b4a551 ;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    margin: 0 auto;
    left: 35%;
    top: 200px;
}
.k2{	
    height: 120px;
    width: 500px;
    background-color: #b4a551 ;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.landing {
    opacity: 0.8;
    position: absolute;
    left: 35%;
    top: 200px;
    background-color: rgba(238, 217, 173, 0.788);
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10%;
}
.d {	
    height: 120px;
    width: 500px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    
}
.y {	
    position: absolute;
    height: 120px;
    width: 500px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.m {	
    width: 500px;	
    height: 100px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.land {
    height: 40px;
    width: 80px;
    top: 200px;
    left: 230px;
}
.a1 {
    text-decoration: none;
    position: absolute;
    left: 50px;
    bottom: 20px;
    color: black;
    height: 40px;
    width: 80px;
    top: 30px;
}
.a2 {
    text-decoration: none;
    position: absolute;
    right: 40px;
    bottom: 20px;
    color: black;
    height: 40px;
    width: 80px;
    top: 30px;
}

.photo{
    width: 100%;
    height: 728px;
}
