.main{
    background-color: hotpink;   
}
.i{
    background-image: url(/react/react-mango/src/Login/bgi/2.png);
    position: relative;
    right: 10px;
}
.p{
    font-size: 50px;
}
.k{
    width: 700px;
}
.y{
    width: 700px;
}
.q{
    width: 700px;
}
.photo{
    position: relative;
    top: 0%;
    width: 700px;
}